<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isoftstone.cityinsight.cidev.provider.dao.mapper.ApplicationMapper" >

	<resultMap type="com.isoftstone.cityinsight.cidev.api.domain.ApplicationVersion" id="ApplicationVersion">
		<id property="versionId" column="version_id" jdbcType="VARCHAR" />
		<result property="appId" column="app_id" jdbcType="VARCHAR" />
		<result property="appVersion" column="app_version" jdbcType="VARCHAR" />
		<result property="description" column="description" jdbcType="VARCHAR" />
		<result property="versionInfo" column="version_info" jdbcType="VARCHAR" />
		<result property="keyword" column="keyword" jdbcType="VARCHAR" />
		<result property="copyright" column="copyright" jdbcType="VARCHAR" />
		<result property="linkMan" column="link_man" jdbcType="VARCHAR" />
		<result property="mobile" column="mobile" jdbcType="VARCHAR" />
		<result property="address" column="address" jdbcType="VARCHAR" />
		<result property="currentAuditStatus" column="current_audit_status" jdbcType="INTEGER" />
		<result property="createdBy" column="created_by" jdbcType="VARCHAR" />
		<result property="createdAt" column="created_at" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap type="com.isoftstone.cityinsight.cidev.api.domain.Application" id="Application">
		<id property="appId" column="app_id" jdbcType="VARCHAR" />
		<result property="appName" column="app_name" jdbcType="VARCHAR" />
		<result property="appType" column="app_type" jdbcType="VARCHAR" />
		<result property="svcCategoryId" column="svc_category_id" jdbcType="TIMESTAMP" />
		<result property="createdBy" column="created_by" jdbcType="VARCHAR" />
		<result property="createdAt" column="created_at" jdbcType="TIMESTAMP" />
		
		<result property="versionId" column="version_id" jdbcType="VARCHAR" />
		<result property="appVersion" column="app_version" jdbcType="VARCHAR" />
		<result property="description" column="description" jdbcType="VARCHAR" />
		<result property="versionInfo" column="version_info" jdbcType="VARCHAR" />
		<result property="keyword" column="keyword" jdbcType="VARCHAR" />
		<result property="copyright" column="copyright" jdbcType="VARCHAR" />
		<result property="linkMan" column="link_man" jdbcType="VARCHAR" />
		<result property="mobile" column="mobile" jdbcType="VARCHAR" />
		<result property="address" column="address" jdbcType="VARCHAR" />
		
		<result property="fileUrl" column="file_url" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.isoftstone.cityinsight.cidev.api.domain.File" id="File">
		<id property="fileId" column="file_id" jdbcType="VARCHAR" />
		<result property="fileName" column="file_name" jdbcType="VARCHAR" />
		<result property="filePath" column="file_path" jdbcType="VARCHAR" />
		<result property="fileSize" column="file_size" jdbcType="VARCHAR" />
		<result property="fileSuffix" column="file_suffix" jdbcType="VARCHAR" />
		<result property="fileContentType" column="file_content_type" jdbcType="VARCHAR" />
		<result property="fileUrl" column="file_url" jdbcType="VARCHAR" />
		<result property="createdBy" column="created_by" jdbcType="VARCHAR" />
		<result property="createdAt" column="created_at" jdbcType="TIMESTAMP" />
		<result property="fileType" column="file_type" jdbcType="INTEGER" />
		<result property="fileSeq" column="file_seq" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="selectRecommendServices" resultMap="Application" parameterType="hashmap">
		select app.app_id, app.app_name, app.app_type, app.svc_category_id,
		       ver.version_id, ver.app_version, ver.description,
		       ver.version_info, ver.keyword, ver.copyright, ver.link_man,
		       ver.mobile, ver.address, 
		       file.file_url
		  from (select * from cidev_application where app_id in (select app_id from cidev_recommend_apps) and app_type = #{appType}) app
		  join (select * from cidev_application_version where is_onlined_version = 0) ver on app.app_id = ver.app_id
		  join cidev_base_files_assoc fileass on ver.version_id = fileass.version_id and fileass.file_type = 0
		  join cibase_files file on fileass.file_id = file.file_id	
	</select>
	
	<select id="selectNewestServices" resultMap="Application" parameterType="hashmap">
		select app.app_id, app.app_name, app.app_type, app.svc_category_id,
		       ver.version_id, ver.app_version, ver.description,
		       ver.version_info, ver.keyword, ver.copyright, ver.link_man,
		       ver.mobile, ver.address, 
		       file.file_url
		  from (select * from cidev_application where app_type = #{appType}) app
		  join (select * from cidev_application_version 
		         where is_onlined_version = 0 and version_id in (
		                              select SUBSTRING_INDEX(group_concat(version_id order by created_at DESC),',',1) 
		                                from cidev_application_version group by app_id 
		                     )
		        ) ver on app.app_id = ver.app_id
		  join cidev_base_files_assoc fileass on ver.version_id = fileass.version_id and fileass.file_type = 0
		  join cibase_files file on fileass.file_id = file.file_id	
	</select>
	
	<select id="selectPopularServices" resultMap="Application" parameterType="hashmap">
		select app.app_id, app.app_name, app.app_type, app.svc_category_id,
		       ver.version_id, ver.app_version, ver.description,
		       ver.version_info, ver.keyword, ver.copyright, ver.link_man,
		       ver.mobile, ver.address, 
		       file.file_url
		  from (select * from cidev_application where app_id in (select app_id from cidev_popular_apps) and app_type = #{appType}) app
		  join (select * from cidev_application_version where is_onlined_version = 0) ver on app.app_id = ver.app_id
		  join cidev_base_files_assoc fileass on ver.version_id = fileass.version_id and fileass.file_type = 0
		  join cibase_files file on fileass.file_id = file.file_id	
	</select>
	
	<select id="selectAllServices" resultMap="Application" parameterType="hashmap">
		select app.app_id, app.app_name, app.app_type, app.svc_category_id,
		       ver.version_id, ver.app_version, ver.description,
		       ver.version_info, ver.keyword, ver.copyright, ver.link_man,
		       ver.mobile, ver.address, 
		       file.file_url
		  from (select * from cidev_application where app_type = #{appType} and is_onlined = 0
		       <if test="serviceCategory != null">
		           and svc_category_id = #{serviceCategory}
		       </if>
		       ) app
		  join (select * from cidev_application_version where is_onlined_version = 0) ver on app.app_id = ver.app_id
		  join cidev_base_files_assoc fileass on ver.version_id = fileass.version_id and fileass.file_type = 0
		  join cibase_files file on fileass.file_id = file.file_id
	  order by app.created_at DESC
	</select>
	
	<select id="selectServiceAndVersionDetail" resultMap="Application" parameterType="hashmap" >
		select app.app_id, app.app_name, app.app_type, app.svc_category_id, app.created_at,
		       ver.version_id, ver.app_version, ver.description,
		       ver.version_info, ver.keyword, ver.copyright, ver.link_man,
		       ver.mobile, ver.address
		  from (select * from cidev_application where app_id = #{appId}) app
		  join (select * from cidev_application_version where version_id = #{versionId}) ver on app.app_id = ver.app_id
	</select>
	
	<select id="selectServiceFileInfosByVersionId" parameterType="string" resultMap="File" >
		select assoc.file_id, file.file_name, file.file_path, file.file_size
		       , file.file_suffix, file.file_content_type, file.file_url
		       , file.created_by, file.created_at, assoc.file_type, assoc.file_seq
		  from (select * from cidev_base_files_assoc where version_id = #{versionId}) assoc
		  join cibase_files file
		    on assoc.file_id = file.file_id
		order by assoc.file_type, assoc.file_seq
	</select>
	
	<select id="getAllSvcCategory" resultType="hashmap">
		select svc_category_id as id,
		       category_name as name
		  from cibase_svc_category
	</select>
	
	<!-- self services -->
	<select id="selectSelfOnlinedServices" resultMap="Application" parameterType="hashmap">
		select app.app_id, app.app_name, app.app_type, app.svc_category_id,
		       ver.version_id, ver.app_version, ver.description,
		       ver.version_info, ver.keyword, ver.copyright, ver.link_man,
		       ver.mobile, ver.address, 
		       ver.current_audit_status,
		       file.file_url
		  from (select * from cidev_application where app_type = #{appType} and created_by = #{userId} and is_onlined = 0) app
		  join (select * from cidev_application_version where is_onlined_version = 0) ver on app.app_id = ver.app_id
		  join cidev_base_files_assoc fileass on ver.version_id = fileass.version_id and fileass.file_type = 0
		  join cibase_files file on fileass.file_id = file.file_id	
	</select>
	
	<select id="selectSelfNewestServices" resultMap="Application" parameterType="hashmap">
		select app.app_id, app.app_name, app.app_type, app.svc_category_id,
		       ver.version_id, ver.app_version, ver.description,
		       ver.version_info, ver.keyword, ver.copyright, ver.link_man,
		       ver.mobile, ver.address, 
		       ver.current_audit_status,
		       file.file_url
		  from (select * from cidev_application where app_type = #{appType} and created_by = #{userId}) app
		  join (select * from cidev_application_version 
		         where version_id in (select SUBSTRING_INDEX(group_concat(version_id order by created_at DESC),',',1) 
		                                from cidev_application_version group by app_id 
		                     )
		        ) ver on app.app_id = ver.app_id
		  join cidev_base_files_assoc fileass on ver.version_id = fileass.version_id and fileass.file_type = 0
		  join cibase_files file on fileass.file_id = file.file_id	
	</select>
	
	<select id="selectSelfAppVersionList" resultMap="Application" parameterType="string">
		select app.app_id, app.app_name, app.app_type, app.svc_category_id,
		       ver.version_id, ver.app_version, ver.description,
		       ver.version_info, ver.keyword, ver.copyright, ver.link_man,
		       ver.current_audit_status,
		       ver.mobile, ver.address
		  from (select * from cidev_application where app_id = #{appId}) app
		  join (select * from cidev_application_version where app_id = #{appId}) ver 
		    on app.app_id = ver.app_id
	</select>
	
	<insert id="saveApplication" parameterType="com.isoftstone.cityinsight.cidev.api.domain.Application">
		insert into cidev_application(app_id, app_name, app_type, svc_category_id, is_onlined, created_by, created_at)
		values(#{appId}, #{appName}, #{appType}, #{svcCategoryId}, 1, #{createdBy}, now())
	</insert>
	
	<insert id="saveApplicationVersion" parameterType="com.isoftstone.cityinsight.cidev.api.domain.Application">
		insert into cidev_application_version(version_id, app_id, app_version, description, version_info, keyword, 
		       copyright, link_man, mobile, address, current_audit_status, is_onlined_version, created_by, created_at)
		values(#{versionId}, #{appId}, #{appVersion}, #{description}, #{versionInfo}, #{keyword}, #{copyright}, 
		#{linkMan}, #{mobile}, #{address}, 0, 1, #{createdBy}, now())
	</insert>
	
	<insert id="saveFileAssoc" parameterType="com.isoftstone.cityinsight.cidev.api.domain.FilesAssoc" >
		insert into cidev_base_files_assoc(file_assoc_id, version_id, file_id, file_type, file_seq) 
		values(#{item.fileAssocId}, #{item.versionId}, #{item.fileId}, #{item.fileType}, #{item.fileSeq})
	</insert>
	
	<insert id="saveFileAssocList" parameterType="java.util.List" >
		insert into cidev_base_files_assoc(file_assoc_id, version_id, file_id, file_type, file_seq) 
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.fileAssocId}, #{item.versionId}, #{item.fileId}, #{item.fileType}, #{item.fileSeq})
		</foreach>
	</insert>
	
	<insert id="appendAuditInfo" parameterType="hashmap" >
		insert into cidev_application_version_audit(audit_id, version_id, audit_info, audit_status, audited_at, audited_by, created_at)
		values(#{auditId}, #{versionId}, #{auditInfo, jdbcType=VARCHAR}, #{auditStatus}, #{auditedAt, jdbcType=VARCHAR}, #{auditedBy, jdbcType=VARCHAR}, now())
	</insert>
	
</mapper>