<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isoftstone.cityinsight.cidev.provider.dao.mapper.DemoMapper" >

	<select id="list" resultType="com.isoftstone.cityinsight.cidev.api.domain.Demo">
		select id,name, created_At as createdAt , updated_At as updatedAt from demo
	</select>
	
</mapper>