<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isoftstone.cityinsight.cidev.provider.dao.mapper.ApplicationMapper" >

	<resultMap type="com.isoftstone.cityinsight.cidev.api.domain.ApplicationVersion" id="ApplicationVersion">
		<id property="versionId" column="version_id" jdbcType="VARCHAR" />
		<result property="appId" column="app_id" jdbcType="VARCHAR" />
		<result property="appVersion" column="app_version" jdbcType="VARCHAR" />
		<result property="description" column="description" jdbcType="VARCHAR" />
		<result property="versionInfo" column="version_info" jdbcType="VARCHAR" />
		<result property="keyword" column="keyword" jdbcType="VARCHAR" />
		<result property="copyright" column="copyright" jdbcType="VARCHAR" />
		<result property="linkMan" column="link_man" jdbcType="VARCHAR" />
		<result property="mobile" column="mobile" jdbcType="VARCHAR" />
		<result property="address" column="address" jdbcType="VARCHAR" />
		<result property="createdBy" column="created_by" jdbcType="VARCHAR" />
		<result property="createdAt" column="created_at" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap type="com.isoftstone.cityinsight.cidev.api.domain.Application" id="Application">
		<id property="appId" column="app_id" jdbcType="VARCHAR" />
		<result property="appName" column="app_name" jdbcType="VARCHAR" />
		<result property="appType" column="app_type" jdbcType="VARCHAR" />
		<result property="svcCategoryId" column="svc_category_id" jdbcType="TIMESTAMP" />
		<result property="createdBy" column="created_by" jdbcType="VARCHAR" />
		<result property="createdAt" column="created_at" jdbcType="TIMESTAMP" />
		
		<result property="versionId" column="version_id" jdbcType="VARCHAR" />
		<result property="appVersion" column="app_version" jdbcType="VARCHAR" />
		<result property="description" column="description" jdbcType="VARCHAR" />
		<result property="versionInfo" column="version_info" jdbcType="VARCHAR" />
		<result property="keyword" column="keyword" jdbcType="VARCHAR" />
		<result property="copyright" column="copyright" jdbcType="VARCHAR" />
		<result property="linkMan" column="link_man" jdbcType="VARCHAR" />
		<result property="mobile" column="mobile" jdbcType="VARCHAR" />
		<result property="address" column="address" jdbcType="VARCHAR" />
		
		<result property="fileUrl" column="file_url" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectRecommendServices" resultMap="Application">
		select *
		  from (select * from cidev_application where app_id in (select app_id from cidev_recommend_apps) and app_type = #{appType}) app
		  join cidev_application_version ver on app.app_id = ver.app_id
		  join cidev_base_files_assoc fileass on ver.version_id = fileass.version_id and fileass.file_type = 0
		  join cibase_files file on fileass.file_id = file.file_id
		  
	
	</select>
</mapper>